<a href="https://colab.research.google.com/github/adarshsandyal/Python-Jupyter-Notebooks/blob/main/if_else_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 24<15:
  print("True")

for..... else:

else works after completing the for loop, otherwise its not going to work

In [ ]:
l = ['name', 'emailid', 'phone', 'address']
for i in l :
  if i == 'emailid':
    break
  print(i)
else:
  print("check your statement")

name

In [ ]:
s= "ADARSH"
for i in s:
  if i =='H':
    break
else:
  print("Don't execute until it prints my name")

while

execute until its true

In [ ]:
a = 1
while a<7:
  print(a)
  a= a+1

1
2
3
4
5
6

In [ ]:
a=1
while a<5:
  print(a)
  if a == 4:
    break
  a+=1

1
2
3
4

continue
skips back to the loop
contiue may create an infinite loop if increment statement is after it

In [ ]:
a =1
while a<5:
  print(a)
  a = a+1
  if a==4:
    continue

1
2
3
4

In [ ]:
list(range(8, 20, 2))

[8, 10, 12, 14, 16, 18]

In [ ]:
list(range(10, 6, -1))

[10, 9, 8, 7]

In [ ]:
n=5
for i in range(0,n):
  for j in range(0,i+1):
    print("* ", end="")
  print("\r")

*
* *
* * *
* * * *
* * * * *

In [ ]:
a = 6
for i in range(a):
  print(i*"* ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
t = (2,2,34,4,54,5,6,778)
for i in range(len(t)):
  print(i, t[i])

0 2
1 2
2 34
3 4
4 54
5 5
6 6
7 778

In [ ]:
#reverse
for i in range(len(t)-1,0-1,-1):
  print(i, t[i])

7 778
6 6
5 5
4 54
3 4
2 34
1 2
0 2

In [ ]:
d ={"a":"ssss", "b":"asssasa", "c": [3,3,3,3,3,3,3], "d": (3,4,5,5,5), "e": "ADARSH"}

In [ ]:
for i in d:
  print(i, d[i])

a ssss
b asssasa
c [3, 3, 3, 3, 3, 3, 3]
d (3, 4, 5, 5, 5)
e ADARSH

In [ ]:
d.items()

dict_items([('a', 'ssss'), ('b', 'asssasa'), ('c', [3, 3, 3, 3, 3, 3, 3]), ('d', (3, 4, 5, 5, 5)), ('e', 'ADARSH')])

In [ ]:
for i in d.items():
  print(i)

('a', 'ssss')
('b', 'asssasa')
('c', [3, 3, 3, 3, 3, 3, 3])
('d', (3, 4, 5, 5, 5))
('e', 'ADARSH')

In [ ]:
s = {32,2,2,3,5,5,67,7,43,2,3,3,45,5,56,3}

In [ ]:
for i in s:
  print(i)

32
2
3
67
5
7
43
45
56

In [ ]:
a = (1,2,3,4,5)
for i in a :
  pass
print(i)

5

In [ ]:
s = "This is basic python class"
len(s)

26

In [ ]:
#length of the function without using len
a =0
for i in s:
  a = a+1
print(a)

26

In [ ]:
 s[::-1]

'ssalc nohtyp cisab si sihT'

In [ ]:
i=len(s)-1
while i>=0:
  print(s[i], end= "")
  i=i-1

ssalc nohtyp cisab si sihT

In [ ]:
i=-1
while abs(i)<=len(s):
  print(s[i], end = "")
  i=i-1

ssalc nohtyp cisab si sihT

In [ ]:
v = "ineuron"
m = "AaEeIiOoUu"

for i in v:
  if i in m:
    print("vowel", i)
  else:
    print("not vowel", i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [ ]:
"a" in "adarsh"

True

In [ ]:
#find palindrome
z = input()
if z== z[::-1]:
  print("Palindrome")
else:
  print("its not")

malayalam
Palindrome

In [ ]:
k = z[::-1]
if k==z:
  print("yes")
else:
  print ("no")

yes

In [ ]:
for i in range(len(z)):
  if z[i]==z[len(z)-1-i]:
    print("Palindrome")
    break
else:
  print("not a palindrome")

Palindrome

In [ ]:
d= {"india":"IN", "Canada": "CA", "china":"CH", "United state": "US" }

In [ ]:
l1=[]
l2=[]
for i in d : # i in d will evaluate keys and not values
  if len(i)<=5:
    l1.append(i)
  else:
    l2.append(i)
print(l1,l2)

['india', 'china'] ['Canada', 'United state']

In [ ]:
d1 = {"ineuron":{"a": 14, "b": 10, "c": 4} ,
       "course" :{"d": 45, "e" :34, "f": 1}
       }

In [ ]:
l3=d1.values()
temp=0
for i in l3:
  for j in i.values():
    if j>temp:
      temp = j
    else:
      continue
  print(temp)

14
45

In [ ]:
lst=[]
for i in d1.values():
  for j in i.values():
    lst.append(j)
  print(max(lst))

14
45

In [ ]:
for i in d1.values():
  print(max(i.values()))

14
45

In [ ]:
o = {"ineuron":{"a":14, "b":45, "c":4 ,"d": 44, "e": 333, "r":77},
     "course":{"v":23, "w":43, "t": 33}, "g": 566, "h": [73,34,23,23],
     'i': (34,4,34,34,544), "k":"ADARSH", "l": 334s}

In [ ]:
lst1=[]
for i in o.values():
  if type(i)==dict:
    for j in i.values():
      lst1.append(j)
  elif type(i)==list or type(i)==set or type(i)==tuple :
    lst1+=list(i)
  elif type(i)==int:
    lst1.append(i)
  else:
    pass
print(max(lst1))

3342

In [1]:
# prompt: write a code to print * pyramid based on user input of row numbers

n = int(input("Enter number of rows: "))
for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for j in range(i+1):
    print("* ", end="")
  print()

Enter number of rows: 4
   *
  * *
 * * *
* * * *